.h1{
    font-size: 55px;
    font-weight: 900;
}
@media (min-width: 769px) and (max-width: 1200px) {
    .h1{
        font-size: 35px !important;
        font-weight: 900;
        color: #173850;
    }
}
@media (min-width: 460px) and (max-width: 768px) {
    .h1{
        font-size: 35px !important;
        font-weight: 900;
        color: #173850;
    }
}
@media (min-width: 300px) and (max-width: 480px) {
    .h1{
        font-size: 20px !important;
        font-weight: 900;
        color: #173850;
    }
}