.img{
    background-color:  rgba(1, 226, 129, .15);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 8px;
}
@media (max-width: 480px) {
    .img{
        background-color:  rgba(1, 226, 129, .15);
        border-radius: 50%;
        width: 64px;
        height: 64px;
        padding: 8px;
    }
    .h1Details{
        font-size: 20px;
    }
}