*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 300px) and (max-width: 480px) {
  .App{
    width: 100%;
    margin: 0;
  }
}