.listCards{
    width: 93%;
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 90px;
    gap: 70px;
    background-color: #122d40;
    border-radius: 30px;
    position: absolute;
    top: 160px;
    z-index: 8765435;
    transition: all 0.6s ease-in-out;
    transform: translateY(-60px);
  }
  
/* للشاشات الكبيرة */
@media (min-width: 1200px) {
  .listCards {
      width: 85%;
      height: 450px;
      padding-left: 80px;
      gap: 60px;
      transform: translateY(-50px);
  }
}

/* للشاشات المتوسطة */
@media (min-width: 992px) and (max-width: 1199px) {
  .listCards {
      width: 90%;
      height: 400px;
      padding-left: 70px;
      gap: 50px;
      transform: translateY(-40px);
  }
}

/* للشاشات الصغيرة */
@media (min-width: 768px) and (max-width: 991px) {
  .listCards {
      width: 95%;
      height: 350px;
      padding-left: 50px;
      gap: 40px;
      transform: translateY(-30px);
      top: 140px;
  }
}

/* للشاشات الصغيرة جدًا */
@media screen and (max-width: 767px) {
  .listCards {
      width: 100%;
      height: auto;
      flex-direction: column;
      padding-left: 20px;
      gap: 20px;
      transform: translateY(-20px);
      top: 120px;
  }
}
